* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: #CCC;
  font-family: Georgia, serif;
  padding: 0px;
  position: relative;
  min-height: 100%;
}

section {
  width: 80%;
  margin: 20px auto 20px auto;
  max-width: 1000px;
  max-height: 500px;
}

#picture-box {
  width: 100%;
  border-radius: 8px;
  background-color: #FFF;
  padding: 20px;
}

canvas {
  width: 100%;
  border-radius: 8px;
  background-color: #FFF;
  padding: 20px;
  display: none;
}

h5 {
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  margin: 0px;
  padding: 0px;
}

.img-cont {
  display: inline-block;
  width: 30%;
  margin: 0px;
  padding: 0px;
  border: 3px solid #CCC;
  vertical-align: middle;
  height: 100%;
  background-color: #00FF00;
}

.img-cont img {
  width: 100%;
  object-fit: cover;
  margin: 0%;
  display: block;
  transition: opacity 1s;
}

.img-cont img:hover {
  opacity: 0.5;
}

.first2 {
  margin-right: 4%;
}

#prog-border {
  width: 60%;
  text-align: center;
  font-weight: bold;
  margin: 20px auto;
  padding: 0px;
  border: 3px solid #CCC;
  position: relative;
}

#prog-border p {
  font-size: 14px;
  z-index: 999;
  margin: 5px auto;
  position: absolute;
  left: 0;
  right: 0;
}

#prog-bar {
  width: 0%;
  background-color: #FF0000;
  padding: 0px;
  margin: 0px;
  height: 100%;
  height: 30px;
}
